@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*
{
    FONT-WEIGHT: 100;
    margin: 0px;
    padding: 0px;
}

body
{
    background: #0f0f0f;
}

.FirstImage
{
    display: flex;
    width: 100%;
    height: 800px;
    overflow: hidden;
    align-items: center;
}

.ImageOne
{
    width: 100%;
    height: 1400px;
}

.HeadderSection
{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 170px;
    z-index: 99;
}

.LogoText
{
    width: 190px;
}

.SectionNamesText
{
    position: relative;
    margin-left: 60px;
    font-size: 16px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
}

.SectionNamesText::after
{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 1px;
    background-color: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s;
}

.SectionNamesText:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}

.InvitationTextParent
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 800px;
    position: absolute;
}

.InvitationText
{
    padding: 0% 20%;
}

.StartText
{
    font-size: 80px;
    color: white;
}

.First3Images
{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 410px;
    overflow: clip;
    justify-content: center;
    align-items: center;
}

.Images
{
    width: 677px;
    height: 410px;
}

.First3ImagesText
{
    display: flex;
    height: 150px;
    color: white;
    align-items: center;
}

.TextSpacing
{
    margin: 0px 280px;
    font-size: 25px;
    white-space: nowrap;
}

.FooterContainer
{
    height: 45vh;
    background-color: #161f1e;
    display: flex;
    padding: 0% 13%;
}

.FooterColumn
{   
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
}

.FooterTop
{
    padding: 7% 0%;
    justify-content: space-between;
    display: flex;
    /* align-items: center; */
}

.FooterLogo
{
    padding-bottom: 10%;
}

.FooterLinksHeading
{
    font-size: 13px;
    color: rgb(176, 176, 176);
    font-family: Roboto;
    font-weight: bold;
}

.FooterLinks
{
    font-size: 16px;
    color: white;
    font-family: Roboto;
    font-weight: bold;
}

.FooterTextAlignment
{
    line-height: 35px;
}

.RightSideContent
{
    display: flex;
    width: 60%;
}

.FooterColumns
{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.Copyrights
{
    font-size: 18px;
    color: gray;
}